@using PetShop.DataAccess

<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="index.html" class="navbar-brand ms-lg-5">
        <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Pet Shop</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="@Url.Action("Index", "Home")" class="nav-item nav-link @if (@ViewBag.active_index != null){
            @ViewBag.active_index
}">Home</a>
            <a href="@Url.Action("About", "Home")" class="nav-item nav-link @if(@ViewBag.active_about != null){
            @ViewBag.active_about
}">About</a>
            <a href="@Url.Action("Index", "Service")" class="nav-item nav-link @if (@ViewBag.active_service != null){
            @ViewBag.active_service
}" ">Service</a>
            <div class="dropdown">
                <a href="@Url.Action("Index", "Products")" class="dropdown-btn,nav-item nav-link" @if (@ViewBag.active_service != null){
                   @ViewBag.active_service
                   }>Product</a>
                <ul class="dropdown-content">
                    <li class="sub-menu">
                        @{
                            CodecampN3Context context = new CodecampN3Context();
                            CategoryDA categories = new CategoryDA(context);
                            var categoryList = categories.GetAll();
                        }
                        @foreach (var category in categoryList)
                        {
                        @Html.ActionLink(category.Name,"Index","Products", new {id = category.Id},new {@class = "sub-menu-btn"})
                        }
                    </li>
                </ul>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="price.html" class="dropdown-item">Pricing Plan</a>
                    <a href="team.html" class="dropdown-item">The Team</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="blog.html" class="dropdown-item">Blog Grid</a>
                    <a href="detail.html" class="dropdown-item">Blog Detail</a>
                </div>
            </div>
            <a href="contact.html" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</nav>

<style>
    ul, li {
        list-style-type: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

        .dropdown a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown-btn {
        background-color: #fff;
        color: #444;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .sub-menu {
        position: relative;
        display: inline-block;
    }

    .sub-menu-btn {
        background-color: #fff;
        color: #444;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .sub-menu-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        left: 100%;
        top: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .sub-menu:hover .sub-menu-content {
        display: block;
    }

    .sub-sub-menu {
        position: relative;
        display: inline-block;
    }
</style>